@import "src/style/variables.scss";

.todos-input-wrapper {
  ::placeholder {
    color: $secondary-color;
    opacity: 1; /* Firefox */
  }

  .todos-input {
    &-task {
      width: 95%;

      input {
        border: 1px solid $secondary-color !important;
        background-color: $input-background;
        padding: 17.5px 12px;
        outline: none !important;
        color: $white;
      }
    }

    &-submit {
      padding: 0;

      button {
        background-color: $primary;
        opacity: .75;
        border: none;
        padding: 8px;
        cursor: pointer;
        transition: 500ms ease-in;

        &:hover {
          opacity: 1;
        }

        &:disabled {
          opacity: .6;
          cursor: not-allowed;
        }
      }
    }
  }
}
