<div class="todos-input-wrapper">
  <form (ngSubmit)="onSubmit()" [formGroup]="todosForm" class="flex justify-between">
    <!-- input -->
    <div class="todos-input-task">
      <input [formControl]="todosForm.controls.text" class="todos-input-task w-full" placeholder="Add a new task"
        type="text">
    </div>

    <!-- button -->
    <div class="todos-input-submit flex justify-center items-center">
      <button type="submit" [disabled]="todosForm.invalid">
        <svg class="bi bi-plus-lg" fill="currentColor" height="32" viewBox="0 0 16 16" width="32"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
            fill-rule="evenodd" />
        </svg>
      </button>
    </div>

  </form>
</div>