<div class="todos-list-statistics-wrapper">
  <div class="flex justify-between">
    <!-- completed tasks -->
    <p>Completed tasks:
      <span class="text-main">
        {{ todosService.completedTasks().length }}
      </span>
    </p>

    <!-- tasks to done -->
    <p>Task left:
      <span class="text-main">
        {{ leftTasks() }}
      </span>
    </p>

    <!-- total tasks -->
    <p>Total tasks:
      <span class="text-main">
        {{ todosService.totalTasks() }}
      </span>
    </p>

  </div>

</div>
