@import "src/style/variables.scss";
@import "src/style/colors.util.scss";
@import "src/style/card.scss";
@import "src/style/todo.style.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $background-color;
  color: $text-color;
}



